<fragment>
  <header id="topnav_header">
    <a id="logo-wrapper" href="index.html">
      <img src="resources/Logo.png" id="logo" alt="logo" />
      <span id="logo-text">Helpful Heads</span>
    </a>
  </header>
  <hr id="top_header_line" />
  <div class="topnav">
    <ul>
      <li><a id="nav_about" href="aboutpage.html">About Us</a></li>
      <li>
        <a id="nav_support" href="support.html">I Need Support</a>
      </li>
      <li>
        <a id="nav_volunteer" href="volunteer.html"
          >I Want To Volunteer</a
        >
      </li>
      <li>
        <a id="nav_employer" href="employerpage.html">For Employers</a>
      </li>
      <li>
        <a id="nav_resource" href="resourcepage.html">Resources</a>
      </li>
    </ul>
  </div>
  <hr id="bot_header_line" />
</fragment>
